#replika::before {
    background-image: url("./2024/pozadi.png");
}

#vrchol::before {
    background-repeat: no-repeat;
    background-size: cover !important;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./2023/plakat.jpg") center center;
}

#mosty::before {
    background-image: url("./2022/pozadi.jpg");
}

#nerad::before {
    background-image: url("./2021/pozadi.png");
}

#pouto::before {
    background-image: url("./2019/pozadi.jpg");
}

#divocina::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./2018/pozadi.jpg") center center;
}

#telo::before {
    background-image: url("./2017/pozadi.jpg");
}

#nemoc::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./2016/pozadi.png") top center;
    background-size: cover;
}

#vlny::before {
    background-image: url("./2015/pozadi.jpg");
}

#plevel::before {
    background-image: url("./2014/pozadi.jpg");
}

#proti_srsti::before {
    background-image: url("./2013/pozadi.jpg");
    background-position: top center;
}

#generace::before {
    background-image: url("./2012/pozadi.jpg");
}

#nebe::before {
    background-image: url("./2011/pozadi.png");
}

#stopy::before {
    background-image: url("./2010/pozadi.png");
}

#vize::before {
    background-image: url("./2009/pozadi.png");
}

#muz_zena::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./2008/pozadi.png") center center;
    background-size: cover;
}

#hranice::before {
    background-image: url("./2007/pozadi.png");
}