* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Noto Sans';
    color: white;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    /*scroll-snap-type: y proximity;*/
    overflow-x: hidden;
    overflow-y: scroll;
    transform-style: preserve-3d;
    perspective: 1px;
    scroll-behavior: smooth;
}

header {
    height: 35rem;
    padding: 1rem 5rem;
    background-color: #16191e;
    transform-style: preserve-3d;
    position: relative;
    z-index: 1;
    box-shadow: 0px 30px 30px rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

header h1 {
    line-height: 7rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 5rem;
}

header p {
    line-height: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

header img {
    display: inline-block;
    height: 3rem;
}

.arrow {
    display: none;
    height: 3.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.arrow:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}


.header_site img {
    margin-right: 1rem;
    margin-left: 1rem;
}

.header_site p {
    font-size: 1.5rem;
}

.header_site a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 1rem;
}

.header_radek {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 4rem;
    /*padding: 0 15rem;*/
}

/* ------------------------*/

.countdown_container {
    text-align: center;
}

.countdown_container p {
    font-size: 2rem;
    letter-spacing: .125rem;
    text-align: unset;
}

ul {
    white-space: nowrap;
}

li {
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    padding: 0.5em;
}

li span {
    display: block;
    font-size: 2.5rem;
}

/* ------------------------*/

.rocnik {
    height: 25rem;
    padding: 3rem;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    position: relative;
}

.rocnik,
.rocnik::before {
    background-size: cover;
    background-position: center center;
}

.web {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.rocnik span {
    cursor: unset !important;
}

.ikonky {
    display: flex;
    flex-direction: row;
    width: 80vw;
    border: 2px white solid;
    z-index: 10;
}

.galerie {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-left: 2px white solid;
}

.web h2 {
    line-height: 10rem;
    font-size: 4rem;
}

.i_camera {
    height: 4rem;
}

.i_website {
    height: 4rem;
    padding: 0 1rem;
}

.rocnik:nth-child(odd) {
    z-index: 1;
    box-shadow: 0px 30px 30px rgb(53, 53, 53),
        0px -30px 30px rgb(53, 53, 53);
}

.rocnik:nth-child(odd)::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.rocnik:nth-child(even)::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-0.5px) scale(2.2);
    transform-style: preserve-3d;
    z-index: 0;
    filter: blur(2px) brightness(0.7);
}


@media screen and (max-width: 1200px) {
    .web h2 {
        line-height: 7.5rem;
        font-size: 3rem;
    }

    .i_camera {
        height: 3rem;
    }

    .galerie {
        width: 7.5rem;
        height: 7.5rem;
    }

    .i_website {
        height: 3rem;
        padding: 0 0.75rem;
    }


    header h1 {
        line-height: 5rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 4rem;
    }

    header p {
        line-height: 1.7rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1000px) {
    .rocnik {
        height: 20rem;
        padding: 2rem;
    }

    .web h2 {
        line-height: 6rem;
        font-size: 2.5rem;
    }

    .i_camera {
        height: 2.5rem;
    }

    .galerie {
        width: 6rem;
        height: 6rem;
    }

    .i_website {
        height: 2.5rem;
        padding: 0 0.75rem;
    }

    header {
        padding: 1.5rem;
        height: 100%;
    }

    .header_radek {
        margin-top: 2rem;
    }

    .arrow {
        display: block;
    }


    header h1 {
        line-height: 3.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .ikonky {
        width: 90vw;
    }

    .rocnik {
        height: 18rem;
    }

    .web {
        padding: unset 1rem;
    }

    .web h2 {
        line-height: 5rem;
        font-size: 2rem;
    }

    .i_camera {
        height: 2.2rem;
    }

    .galerie {
        width: 5rem;
        height: 5rem;
    }

    .i_website {
        height: 2.2rem;
        padding: 0 0.0rem;
    }

    .countdown_container {
        transform-origin: top left;
        transform: scale(0.8);
    }


    header p {
        line-height: 1.5rem;
        font-size: 1.3rem;
    }

    .rocnik:nth-child(even)::before {
        transform: translateZ(-0.3px) scale(2.2);
    }
}

@media screen and (max-width: 700px) {
    .header_radek {
        flex-direction: column-reverse;
        margin-top: 1rem;
    }

    .header_site a {
        flex-direction: row-reverse;
        justify-content: left;
        margin-bottom: 0;
        transform-origin: top left;
        transform: scale(0.8);
    }

    .header_site img {
        margin-left: 0;
    }

    .countdown_container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform-origin: unset;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .ikonky {
        width: 90vw;
    }

    .rocnik {
        height: 14rem;
    }

    .web {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .web h2 {
        line-height: 4rem;
        font-size: 1.7rem;
    }

    .i_camera {
        height: 1.4rem;
    }

    .galerie {
        width: 4rem;
        height: 4rem;
    }

    .i_website {
        height: 2rem;
        padding: 0 0.0rem;
    }


    header h1 {
        line-height: 2.5rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    header p {
        line-height: 1.7rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 500px) {
    .ikonky {
        width: 90vw;
    }

    .rocnik {
        height: 14rem;
    }

    .web {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .web h2 {
        line-height: 4rem;
        font-size: 1.3rem;
    }

    .i_camera {
        height: 1.4rem;
    }

    .galerie {
        width: 4rem;
        height: 4rem;
    }

    .i_website {
        height: 2rem;
        padding: 0 0.0rem;
    }

    header p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .countdown_container {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 400px) {
    .countdown_container {
        transform: scale(0.5);
    }

    .ikonky {
        width: 95vw;
    }

    .rocnik {
        height: 14rem;
    }

    .web {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .web h2 {
        line-height: 4rem;
        font-size: 5vw;
    }

    .i_website {
        height: 7vw;
        padding: 0 0.0rem;
    }
}

@media screen and (max-height: 700px) and (max-width: 450px) {
    .countdown_container {
        opacity: 0;
    }
}